<body>
      <div class="container">
        <!--title-->
        <div class='row center'>
          <div class='col offset-s3 s6 '>
            <h2>編集</h2>
          </div>
        </div>
        <!--card-->
        <div class="row">
            <div class="col s12 l6 offset-l3">
              <div class="card">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                <div class="card-content">
                  <table class='table' >
                    <tr style='border-bottom:none',class='row'>
                        <th class='col s3'><%= f.label :name %><br /></th>
                        <td class='col s9'><%= f.text_field :name, autofocus: true %></td>
                    </tr>
                    <tr style='border-bottom:none',class='row'>
                        <th class='col s3'> <%= f.label :email %><br /></th>
                        <td class='col s9'><%= f.email_field :email, autocomplete: "email" %></td>
                    </tr>
                    <tr style='border-bottom:none',class='row'>
                        <th class='col s3'><%= f.label :profile %><br /><br /></th>
                        <td class='col s9'><%= f.text_area :profile %></td>
                    </tr>
                    <tr style='border-bottom:none',class='row'>
                        <th class='col s3'><%= f.label :image %><br /><br /></th>
                        <td class='col s9'><%= f.file_field :image %></td>
                    </tr>
                  </table>
                </div>
           <!--card bottun-->
                <div class='row center'>
                    <div class='col s12'>
                        <%= f.submit '編集完了！' ,class:'me-edit btn'%>
                      <% end %>
                    </div>
                    <div class='row'>
                    </div>
                </div>
                </div>
              </div>
            </div>
              <div class='row center'>
                  <%= link_to "戻る", :back ,class:"btn" %>
              </div>
          </div>
      </div>
</body>
