<p id="notice"><%= notice %></p>
<body>
  <div class="container">
    <div class='row'>
      <div class='col s12'>
        <%= month_calendar events: @shift_users do |date, shift_users| %>
          <%= date.strftime("%-d")%>
          <% shift_users.each do |shift_user| %>
            <div>
              <%= "#{shift_user.user.name} (#{shift_user.display_work_type})" %>
            </div>
            <% if !current_user.admin_flag %>
              btnテスト
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
<%= link_to 'シフト提出する', new_shift_user_path %>
