<p id="notice"><%= notice %></p>

<h1>Shift Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Shift</th>
      <th>Work type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_users.each do |shift_user| %>
      <tr>
        <td><%= shift_user.user_id %></td>
        <td><%= shift_user.shift_id %></td>
        <td><%= shift_user.work_type %></td>
        <td><%= link_to 'Show', shift_user %></td>
        <td><%= link_to 'Edit', edit_shift_user_path(shift_user) %></td>
        <td><%= link_to 'Destroy', shift_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift User', new_shift_user_path %>
