<!DOCTYPE html>
<html>
  <head>
    <title>shiftfree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
        <nav>
        <!--ロゴ-->
          <% if user_signed_in? %>
            <%= link_to 'Shiftfree', shift_users_path, class: "brand-logo" %>
          <% else %>
            <%= link_to 'Shiftfree', root_path, class: "brand-logo" %>
          <% end %>
          <!--サイド-->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <li><%= link_to current_user.name + 'さん', users_show_path %></li>
                <li><%= link_to 'シフト提出', new_shift_user_path %></li>
                <li><%= link_to 'ユーザー一覧', users_path %>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </ul>
        </nav>
    </header>

  <%# 新規登録やログイン時にメッセージ表示 %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
